/* Page background */
.bgPage {
  background: #eef2ff;
}

/* Login Card */
.indexCard{
  width: 500px;
}

/* Button */
.LoginBtn {
  width: 100%;
  padding: 12px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(135deg, #2563eb, #7c3aed);
  border: none;
}

.LoginBtn:hover {
  opacity: 0.95;
}
